## Time Series Modeling Notebook

In [1]:
# for presentation purposes
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


# working with dates
from datetime import datetime

# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 

# for tsa 
import statsmodels.api as sm

# holt's linear trend model. 
from statsmodels.tsa.api import Holt

# my imports
import acquire
import prepare

Using [saas.csv](https://ds.codeup.com/saas.csv) or log data from API usage or store_item_sales

In [2]:
# let's bring the data in and see what we're working with
df = pd.read_csv('saas.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month_Invoiced     790458 non-null  object
 1   Customer_Id        790458 non-null  int64
 2   Invoice_Id         790458 non-null  int64
 3   Subscription_Type  790458 non-null  float64
 4   Amount             790458 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 30.2+ MB

In [3]:
# Quick peak at the data
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [4]:
# what type is the 'Month_Invoiced'
type(df.Month_Invoiced)

pandas.core.series.Series

In [5]:
df.Subscription_Type.value_counts()

0.0    496410
1.0    178212
2.0     70706
3.0     26474
4.0     18656
Name: Subscription_Type, dtype: int64

In [6]:
df.Amount.value_counts()

0.0     496410
5.0     178212
10.0     70706
15.0     26474
20.0     18656
Name: Amount, dtype: int64

### Initial Data Prep To Do:
- Convert 'Month_Invoiced' to TimeSeries
- Reset 'Month_Invoiced' to index
- Convert all other colums to int

In [7]:
# convert to datetime
df = prepare.to_datetime(df, 'Month_Invoiced')

In [8]:
# reset index
df = prepare.index_reset(df, 'Month_Invoiced')

In [9]:
# convert columns to int
col_list = list(df)
df = prepare.convert_int(df, col_list)

In [10]:
# now what do we have?
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 790458 entries, 2014-01-31 to 2017-12-31
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Customer_Id        790458 non-null  int64
 1   Invoice_Id         790458 non-null  int64
 2   Subscription_Type  790458 non-null  int64
 3   Amount             790458 non-null  int64
dtypes: int64(4)
memory usage: 30.2 MB

In [11]:
df.head()

                Customer_Id  Invoice_Id  Subscription_Type  Amount
Month_Invoiced
2014-01-31          1000000     5000000                  0       0
2014-01-31          1000001     5000001                  2      10
2014-01-31          1000002     5000002                  0       0
2014-01-31          1000003     5000003                  0       0
2014-01-31          1000004     5000004                  1       5

1. Split data (train/test) and resample by any period, except daily, and aggregate using the sum.

2. Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:

- Simple Average

- Moving Average

- Holt's Linear Trend Model

- Based on previous year/month/etc., this is up to you.

## Optional: Using store item demand

1. Predict 2018 total **monthly** sales for a single store and/or item by creating a model using prophet.

2. Return a dataframe with the month, store_id, y-hat, and the confidence intervals (y-hat lower, y-hat upper).

3. Plot the 2018 monthly sales predictions.